.container {

    display: flex;
    flex-direction: column;
    height: 100%;

    h1 {
        color: var(--Marine-blue);
        font-weight: 700;
        font-size: 2rem;
        padding: 0;
        margin: 0;
        margin-bottom: 14px;
    }

    span {
        color: var(--Cool-gray);
        font-weight: 50001;
        font-size: 15px;
        text-align: justify;
    }
}

.form {

    margin-top: 14px;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;



    input {
        border: 1px solid var(--Light-gray);
        border-radius: 5px;
        font-weight: 700;
        font-size: 1rem;
        padding-top: 7px;
        padding-bottom: 7px;
        color: var(--Marine-blue);
    }

    input:focus {
        outline: 1px solid var(--Purplish-blue);
    }
}

.groupText {
    display: flex;
    justify-content: space-between;

    label {
        color: var(--Marine-blue);
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 7px;
    }

    span {
        color: red;
    }
}

.containerButton {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    height: 100%;

    button {
        font-weight: 700;
        padding: 14px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border: none;
        color: var(--White);
        border-radius: 7px;
        background-color: var(--Marine-blue);
    }
}